<!DOCTYPE html>
<html lang="ru">
<head>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friend Trip</title>
</head>
<body>
    <h1>Welcome to the Friend Trip</h1>
    {% if user.is_authenticated %}
        <p>Welcome, {{ profile.user.first_name }}</p>
        <h2>Your Profile</h2>
        <p>first_name: {{ profile.user.first_name }}</p>
        <p>Email: {{ profile.user.email }}</p>
        <!-- Display other profile details as needed -->
        <h2>Your Trips</h2>
        <ul>
            {% for trip in trips %}
                <br><h3>{{ trip.title }}</h3>
                    <p>ID: {{ trip.id }}</p>
                    <p>Destination: {{ trip.destination }}</p>
                    <p>Start Date: {{ trip.start_date }}</p>
                    <p>End Date: {{ trip.end_date }}</p>
                    <p>Description: {{ trip.description }}</p>
            {% endfor %}
        </ul>
        <li><a href="{% url 'create_trip' %}">Create a New Trip</a></li>
        <li><a href="{% url 'search_trip' %}">Join the Trip</a></li>
    {% else %}
        <p>You are not logged in. <a href="{% url 'login' %}">Login</a> to view trips.</p>
    {% endif %}

<div class="col-xl-6 col-lg-6">
    <div class="main-menu  d-none d-lg-block">
        <nav>
            <ul id="navigation">
                <!-- {% if user.is_authenticated %} -->
                 &nbsp;<li><a href="login">logout</a></li>
                {%else%}
                <li><a href="login">login</a></li>
                <li><a href="register">register</a></li>
                {%endif%}
            </ul>
        </nav>
    </div>
</div>
</body>
</html>