<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Login here</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
</head>

<body>

    <form action="index" method="POST">
        {% csrf_token %}
        <div class="limiter">
                <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
                    <form class="login100-form validate-form">
                        <span class="login100-form-title p-b-49">
                                            <span style="color: green;">FriendTrip</span>

                                        </span>

                        <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
                            <span class="label-input100">Email</span>
                            <input class="input100" type="text" name="Email" placeholder="Type your email" minlength="7" maxlength="30" required>
                            <span class="focus-input100" data-symbol="&#xf206;"></span>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate="Password is required">
                            <span class="label-input100">Password</span>
                            <input class="input100" type="password" name="password" placeholder="Type your password" minlength="4" maxlength="10" required>
                            <span class="focus-input100" data-symbol="&#xf190;"></span>
                        </div>
                        <div class="text-right p-t-8 p-b-31">
                        </div>
                        <div class="container-login100-form-btn">
                            <div class="wrap-login100-form-btn">
                                <div class="login100-form-btn"></div>
                                <button class="login100-form-btn" onclick="window.location.href='index'">
								Login
							</button>
                            </div>
                        </div>
                        <br><br><br><br><br>


                        <div class="flex-col-c p-t-80">

                            <a href="register" class="txt6">
                                <span style="color: blue;"> Sign Up </span>
                            </a><br>
                        </div>
                    </form>
                </div>
            </div>


        <div id="dropDownSelect1"></div>

        <!--===============================================================================================-->
    </form>

</body>

</html>